workflows/code_verification_webhook.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "set_params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow_codeverify": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_params": {
      "main": [
        [
          {
            "node": "Execute Workflow_codeverify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-03T18:13:51.127Z",
  "id": "101",
  "name": "code_verification_webhook",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "code_verification",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8e6015b5-6828-478b-9dcf-aa32a63f25cf",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "webhookId": "5d35f233-7997-43c8-a674-50883a854195",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "100"
      },
      "id": "7384d6f4-2e39-4349-b4f0-46def42ab1ac",
      "name": "Execute Workflow_codeverify",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7268042e-780b-495b-a1fb-589682caa7e5",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "code_verification_params",
              "value": "={{ $json?.body }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "b031a239-c0a4-4a25-bcbb-7f04f452b6ab",
      "name": "set_params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        600,
        300
      ],
      "notesInFlow": false
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-11T17:03:47.915Z",
  "versionId": "4e014e1e-ca8c-408b-a80a-7a4d555949c3"
}