workflows/EAP Sync Trackers Projects Meetings UPDATED.json
{
  "active": false,
  "connections": {
    "EasyHostname": {
      "main": [
        [
          {
            "node": "NewTrackers",
            "type": "main",
            "index": 0
          },
          {
            "node": "NewProjects",
            "type": "main",
            "index": 0
          },
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewProjects": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "IsValidProject?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsValidProject?": {
      "main": [
        [
          {
            "node": "Add Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Client": {
      "main": [
        [
          {
            "node": "NewProjectEID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewProjectEID": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewTrackers": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "IsValidTracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NoOp": {
      "main": [
        [
          {
            "node": "GetEventsEAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProjects": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetProviders": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "GetEventsEAP": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          },
          {
            "node": "WhichEventsNew",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "GetEvents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEvents": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "WhichEventsNew",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "WhichEventsNew": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "GetProjects",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function2": {
      "main": [
        [
          {
            "node": "GetProviders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "SyncProjects",
            "type": "main",
            "index": 0
          },
          {
            "node": "SyncTrackers",
            "type": "main",
            "index": 0
          },
          {
            "node": "AllNewMeetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetEvents1": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function3": {
      "main": [
        [
          {
            "node": "GetEvents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddEvent": {
      "main": [
        [
          {
            "node": "Function3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsValidTracker": {
      "main": [
        [
          {
            "node": "GeneratePassword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GeneratePassword": {
      "main": [
        [
          {
            "node": "Add Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Tracker": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetNewTrackerEAP": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewTrackerID": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "NewTrackerID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "GetNewTrackerEAP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AllNewMeetings": {
      "main": [
        [
          {
            "node": "GenerateZoomLinks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom Auth": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "SingleMeeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set4": {
      "main": [
        [
          {
            "node": "NewZoomMeeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NewZoomMeeting": {
      "main": [
        [
          {
            "node": "AddZoomURLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SingleMeeting": {
      "main": [
        [
          {
            "node": "Set4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AddZoomURLs": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "SingleMeeting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "AddEvent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "EasyHostname",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-10-17T14:10:22.385Z",
  "id": "3",
  "name": "EAP Sync Trackers Projects Meetings UPDATED",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "HOSTNAME",
              "value": "http://calend.dev.2t.band:8081/index.php/api/v1"
            },
            {
              "name": "NOCODBHOST",
              "value": "https://nocodb.dev.2t.band/api/v1/db/data/noco/2T_pilot"
            }
          ]
        },
        "options": {}
      },
      "id": "63b2b6f1-b807-4516-8854-dee329797329",
      "name": "EasyHostname",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        380,
        340
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_qud1os3qde26n3",
        "returnAll": true,
        "options": {
          "where": "(TrackerEasyId,is,null)~or(TrackerEasyId,eq,0)"
        }
      },
      "id": "87146e69-83b7-47e4-b682-9c99105e6ee3",
      "name": "NewTrackers",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        720,
        -120
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_mr9k87svxiox6z",
        "returnAll": true,
        "options": {
          "where": "(ProjectEasyId,is,null)~or(ProjectEasyId,eq,0)"
        }
      },
      "id": "d9c6fe81-ee1e-48bc-963d-e7df898373f3",
      "name": "NewProjects",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        720,
        340
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "a1734d3d-0945-4356-8511-548df74860b7",
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        900,
        340
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(0).$node[\"EasyHostname\"].json[\"HOSTNAME\"] }}/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"firstName\": \"{{$json[\"ProjectTitle\"]}}\", \n    \"lastName\": \"{{$json[\"ProjectRegion\"]}}\", \n    \"email\": \"{{$json[\"ProjectEmail\"]}}\", \n    \"phone\": \"{{$json[\"ProjectPhone\"]}}\",\n    \"notes\": \"Autoadded from n8n on {{new Date($now).toString()}}\",\n    \"language\": \"english\",\n    \"timezone\": \"Europe/Moscow\"\n}",
        "options": {}
      },
      "id": "e6a20a06-e210-4bdb-9ead-ffdeea807e5e",
      "name": "Add Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1260,
        340
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "39",
          "name": "EasyAppointments test API"
        },
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"ProjectTitle\"] != null &&  $json[\"ProjectRegion\"] != null && $json[\"ProjectPhone\"]!= null && $json[\"ProjectEmail\"]!= null}}",
              "value2": true
            }
          ]
        }
      },
      "id": "4fb7934f-9e12-4a1f-a555-c049b3508d54",
      "name": "IsValidProject?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1080,
        340
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "f6af8345-aff3-4ced-b49f-469c743521cc",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1620,
        340
      ],
      "webhookId": "fa620580-7540-46c6-9ec5-2663078eabeb"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_mr9k87svxiox6z",
        "id": "={{ $node[\"IsValidProject?\"].json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "ProjectEasyId",
              "fieldValue": "={{ $json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "7f11e037-530e-4f57-bb0d-af58f76036a7",
      "name": "NewProjectEID",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1440,
        340
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "38733212-04c7-47ef-acd6-ae2d21013d45",
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        880,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"TrackerSurname\"] != null &&  $json[\"TrackerName\"] != null && $json[\"TrackerPhone\"]!= null && $json[\"TrackerEmail\"]!= null}}",
              "value2": true
            }
          ]
        }
      },
      "id": "3964df5d-8a3f-404b-a775-52c79fea7c10",
      "name": "IsValidTracker",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        -120
      ]
    },
    {
      "parameters": {},
      "id": "772fa29a-bbcd-48da-8509-b310aade100b",
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        540,
        700
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_mr9k87svxiox6z",
        "returnAll": true,
        "options": {
          "fields": [
            "Id,ProjectEasyId,ProjectTitle"
          ],
          "where": "=(ProjectEasyId,in,{{ $json[\"idnums\"] }})"
        }
      },
      "id": "15799710-8aca-4b4b-b128-118bd8ae8913",
      "name": "GetProjects",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        900,
        1200
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_qud1os3qde26n3",
        "returnAll": true,
        "options": {
          "fields": [
            "Id,TrackerEasyId,TrackerEmail,ZoomUser"
          ],
          "where": "=(TrackerEasyId,in,{{ $json[\"idnums\"] }})"
        }
      },
      "id": "7d51cb36-2318-42b6-a21a-9d6aa3718596",
      "name": "GetProviders",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        900,
        1360
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Id",
              "newKey": "ProjectId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "40024f01-c7b1-4f1e-8ee0-51401ca090df",
      "name": "Rename Keys",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1040,
        1200
      ]
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Id",
              "newKey": "TrackerId"
            }
          ]
        },
        "additionalOptions": {}
      },
      "id": "bbe1c02e-cb2b-4b62-b73b-9849c98f2758",
      "name": "Rename Keys1",
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1040,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "customerId",
              "field2": "ProjectEasyId"
            }
          ]
        },
        "options": {}
      },
      "id": "13047f53-3742-41f3-91bf-0cfc150d2ac0",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1980,
        1180
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "ProjectEasyId",
              "value": "={{ Number($json[\"ProjectEasyId\"]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1543f18-eb7b-4173-adf3-5959042dc5d9",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        1200
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "TrackerEasyId",
              "value": "={{ Number($json[\"TrackerEasyId\"]) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "836f8d0d-4271-484a-9945-371e34a5422e",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1180,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "providerId",
              "field2": "TrackerEasyId"
            }
          ]
        },
        "options": {}
      },
      "id": "f13b1a95-7a86-4242-a2b6-ee9f251817f7",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2140,
        1340
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "returnAll": true,
        "options": {
          "fields": [],
          "where": "=(MeetingEasyId,in,{{ $json[\"idnums\"] }})"
        }
      },
      "id": "1a04adf5-1455-4e68-82bc-b003d6c27918",
      "name": "GetEvents",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        880,
        880
      ],
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "create",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingStatus",
              "fieldValue": "Planned"
            },
            {
              "fieldName": "MeetingComment",
              "fieldValue": "={{ $json[\"notes\"] }}"
            },
            {
              "fieldName": "MeetingStartDateTime",
              "fieldValue": "={{ $json[\"start\"] }}"
            },
            {
              "fieldName": "MeetingEndDateTime",
              "fieldValue": "={{ $json[\"end\"] }}"
            },
            {
              "fieldName": "MeetingEasyId",
              "fieldValue": "={{ $json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "5d37491c-f9d9-479a-8679-1cda7dc0fbdf",
      "name": "AddEvent",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1460,
        820
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $item(0).$node[\"EasyHostname\"].json[\"HOSTNAME\"] }}/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort",
              "value": "-id"
            }
          ]
        },
        "options": {
          "batching": {
            "batch": {}
          }
        }
      },
      "id": "10c85765-cbdf-4501-a577-0b9b80d7fbb5",
      "name": "GetEventsEAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        700
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "39",
          "name": "EasyAppointments test API"
        },
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{idnums: $jmespath($items(),\"[].json.id\").join(\",\")}];"
      },
      "id": "aeb98b2f-c4b3-499d-86d1-383836a9f035",
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        740,
        880
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "MeetingEasyId",
              "value": "={{Number($json[\"MeetingEasyId\"])}}"
            }
          ]
        },
        "options": {}
      },
      "id": "bad9e037-5761-40dc-b1ab-1653b6bd8072",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1020,
        880
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "id",
              "field2": "MeetingEasyId"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input1",
        "options": {}
      },
      "id": "0f100afc-a9f0-499c-a2c9-309dfa17fd95",
      "name": "WhichEventsNew",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1180,
        820
      ]
    },
    {
      "parameters": {
        "content": "## Синхронизация новых встреч\n### Получаем несколько самых новых встреч из EAP, смотрим,\n### какие из них еще не внесены в базу и создаем новые записи со встречами со статусом \"запланировано\"",
        "height": 453.9706110051429,
        "width": 1484.4075857064845
      },
      "id": "a1c4ed32-0e3c-4f9e-b315-ea7fe0a1c358",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        580
      ]
    },
    {
      "parameters": {
        "content": "## Связывание встреч с проектами и трекерами\n### Берем из базы проекты и трекеры, которые были упомянуты в новых встречах,\n### находим их Id в базе и создаем связи в таблице \"встречи\"",
        "height": 456.9618163054696,
        "width": 1761.9781217750258
      },
      "id": "173816ab-093b-47c7-8545-d9cbe12b144f",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        1060
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{idnums: $jmespath($items(),\"[].json.customerId\").join(\",\")}];"
      },
      "id": "499f25a0-2bba-465c-9951-2f99f212240a",
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        740,
        1200
      ]
    },
    {
      "parameters": {
        "functionCode": "return [{idnums: $jmespath($items(),\"[].json.providerId\").join(\",\")}];"
      },
      "id": "ee3ef3d6-30cb-425d-8b16-6ee0e62ac17a",
      "name": "Function2",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        740,
        1360
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "returnAll": true,
        "options": {
          "fields": [],
          "where": "=(MeetingEasyId,in,{{ $json[\"idnums\"] }})"
        }
      },
      "id": "cfcd6cc2-4329-4239-9563-32e567c1ac0a",
      "name": "GetEvents1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1760,
        820
      ],
      "alwaysOutputData": true,
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "return [{idnums: $jmespath($items(),\"[].json.MeetingEasyId\").join(\",\")}];"
      },
      "id": "f3ffae96-62fe-4348-8ab9-c8496aafdf2e",
      "name": "Function3",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1600,
        820
      ]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "MeetingEasyId",
              "value": "={{Number($json[\"MeetingEasyId\"])}}"
            }
          ]
        },
        "options": {}
      },
      "id": "b98ee655-197f-4a4d-8ab9-1874a1756d74",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1920,
        820
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "MeetingEasyId",
              "field2": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "fe5cb9c4-9595-4c3e-9e02-508cd6bbfba3",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1760,
        680
      ]
    },
    {
      "parameters": {
        "content": "## Создание новых проектов\n### Добавление новых проектов (с пустой переменной ProjectEasyId) в EAP",
        "height": 284.1179327362907,
        "width": 1069.8705907773772
      },
      "id": "8c3af4b3-e20e-43c7-81ad-d49c41587a84",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        260
      ]
    },
    {
      "parameters": {
        "content": "## Создание новых аккаунтов для трекеров\n### Добавление новых трекеров в EAP после создания строки в основной базе. Отправка данных для входа в аккаунт на почту",
        "height": 433.31524733393724,
        "width": 1475.8342547838533
      },
      "id": "5ad46b95-e921-4979-acf1-c04867e9c4d0",
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        700,
        -200
      ]
    },
    {
      "parameters": {
        "command": "< /dev/urandom tr -dc 'A-Z-a-z-0-9' | head -c${1:-12};echo;"
      },
      "id": "cac66c09-4d71-44cd-a48c-03ccce0b1934",
      "name": "GeneratePassword",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        40
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $item(0).$node[\"EasyHostname\"].json[\"HOSTNAME\"] }}/providers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"firstName\": \"{{ $node[\"IsValidTracker\"].json[\"TrackerName\"] }}\",\n\"lastName\": \"{{ $node[\"IsValidTracker\"].json[\"TrackerSurname\"] }}\",\n\"email\": \"{{ $node[\"IsValidTracker\"].json[\"TrackerEmail\"] }}\",\n\"phone\":\"{{ $node[\"IsValidTracker\"].json[\"TrackerPhone\"] }}\",\n\"services\": [1],\n\"timezone\":\"Europe/Moscow\",\n\"settings\": {\n\"username\": \"{{ $node[\"IsValidTracker\"].json[\"TrackerEmail\"] }}\",\n\"password\": \"{{$json[\"stdout\"]}}!\",\n\"notifications\":true,\n\"calendarView\": \"default\"},\n\"workingPlan\": { },\n\"working_plan\": { }\n}",
        "options": {}
      },
      "id": "0d1927f2-0e80-4221-9b6d-662abdaed467",
      "name": "Add Tracker",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "39",
          "name": "EasyAppointments test API"
        },
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $item(0).$node[\"EasyHostname\"].json[\"HOSTNAME\"] }}/providers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort",
              "value": "-id"
            }
          ]
        },
        "options": {}
      },
      "id": "c275fa22-da6e-4994-9402-5031511b7c6f",
      "name": "GetNewTrackerEAP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1360,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "39",
          "name": "EasyAppointments test API"
        },
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      }
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "7259143c-a3c3-47f9-990d-901bf24f032f",
      "name": "Wait1",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2000,
        40
      ],
      "webhookId": "fa620580-7540-46c6-9ec5-2663078eabeb"
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_qud1os3qde26n3",
        "id": "={{ $node[\"SplitInBatches1\"].json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "TrackerEasyId",
              "fieldValue": "={{ $json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "94298424-ee24-45d8-8c13-590da541f22d",
      "name": "NewTrackerID",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1680,
        40
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "limit"
      },
      "id": "ff7c3f47-3509-4adb-81fd-87d1f1302856",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1520,
        40
      ]
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "2150f85c-7d27-4a4b-bda1-ef0eccfbeab8",
      "name": "Wait2",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1200,
        40
      ],
      "webhookId": "fa620580-7540-46c6-9ec5-2663078eabeb"
    },
    {
      "parameters": {
        "fromEmail": "dev@2t.band",
        "toEmail": "={{ $node[\"Item Lists\"].json[\"email\"] }}",
        "ccEmail": "dev@2t.band",
        "bccEmail": "eduard@stats-consult.com",
        "subject": "={{ $node[\"Item Lists\"].json[\"firstName\"] }}, ваш аккаунт создан!",
        "text": "=Здравствуйте, {{$node[\"Item Lists\"].json[\"firstName\"]}}!\nСпешим сообщить, что ваш аккаунт трекера был создан.\nДля подключения используйте следующую информацию:\nURL : {{$node[\"EasyHostname\"].json[\"HOSTNAME\"].split('/').slice(0, 3).join('/') }}/index.php/user/login\nИмя пользователя : {{$node[\"Item Lists\"].json[\"email\"]}}\nПароль : {{$node[\"GeneratePassword\"].json[\"stdout\"]}}!\n\nУбедитесь, пожалуйста, что пароль верно скопирован и не содержит лишних пробелов в начале или конце строки.\nВ случае сложностей с доступом попробуйте сбросить ваш пароль или ответить на данный email с описанием проблемы.\n\nС уважением,\nкоманда 2T",
        "options": {}
      },
      "id": "ebfdbb43-6e2e-464e-b411-bfbb79ad6938",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1840,
        40
      ],
      "credentials": {
        "smtp": {
          "id": "3",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"EasyHostname\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/Meetings/{{ $json[\"Id\"] }}/mm/Projects%20List/{{ $json[\"ProjectId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "id": "79ada67c-4078-4458-8112-517be393836c",
      "name": "SyncProjects",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2320,
        1140
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node[\"EasyHostname\"].parameter[\"values\"][\"string\"][1][\"value\"]}}/Meetings/{{ $json[\"Id\"] }}/mm/Trackers%20List/{{ $json[\"TrackerId\"] }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "options": {}
      },
      "id": "e0f29db4-8a00-49a8-b5ad-c4e93853f72e",
      "name": "SyncTrackers",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2320,
        1340
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Генерация ссылок Zoom встреч",
        "height": 332.11330148677825,
        "width": 1566.3106169098423
      },
      "id": "64d794f7-d756-4a44-82be-c46c1c75efbd",
      "name": "Note4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1680,
        1540
      ]
    },
    {
      "parameters": {
        "workflowId": "9"
      },
      "id": "1d04ddd3-03ac-4f3d-a2bb-268b89529c59",
      "name": "Zoom Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        2120,
        1680
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field\n// called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "aae321cc-e9ef-479f-873c-46c30f61a629",
      "name": "AllNewMeetings",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1700,
        1620
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "c85da21a-0052-4010-9f57-bd5180f4d343",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2280,
        1620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json[\"ZoomBaseUrl\"] }}users/{{ $json[\"ZoomUser\"] }}/meetings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $json[\"ZoomAuth\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json[\"JSONbody\"] }}",
        "options": {}
      },
      "id": "b72d0b8d-76bf-4de5-ad2e-7865179e4afb",
      "name": "NewZoomMeeting",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2780,
        1620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "JSONbody",
              "value": "={\n\"topic\": \"{{$json[\"MeetingComment\"]}}\",\n\"type\": 2,\n\"start_time\": \"{{$json[\"MeetingStartDateTime\"]}}\",\n\"timezone\": \"Europe/Moscow\",\n\"duration\": 60,\n\"schedule_for\": \"{{$json[\"ZoomUser\"]}}\",\n\"settings\": {\n\"auto_recording\": \"cloud\",\n\"join_before_host\": false,\n\"mute_upon_entry\": false\n}\n}"
            }
          ]
        },
        "options": {}
      },
      "id": "06339af3-8869-44eb-b247-56fba659d6a1",
      "name": "Set4",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2620,
        1620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "c8d2b9e2-d49d-4396-82d2-9b705fce49a3",
      "name": "SingleMeeting",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2440,
        1620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "id": "={{ $node[\"SingleMeeting\"].json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingStartURL",
              "fieldValue": "={{ $json[\"start_url\"] }}"
            },
            {
              "fieldName": "MeetingJoinURL",
              "fieldValue": "={{ $json[\"join_url\"] }}"
            },
            {
              "fieldName": "MeetingZoomID",
              "fieldValue": "={{ $json[\"id\"] }}"
            }
          ]
        }
      },
      "id": "8482eba3-82df-4574-b970-0760d02c9857",
      "name": "AddZoomURLs",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        2940,
        1620
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "ddda51d0-9654-4b40-bab5-883bd47bfd79",
      "name": "Wait3",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        3100,
        1620
      ],
      "webhookId": "eaf44c49-19c1-4187-851f-7ed29ff30199",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "9024fd43-8499-4e84-a4ff-fc565cf5d539",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1300,
        820
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "682632c4-448a-4f86-a2bc-84bc65efecaf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        340
      ]
    },
    {
      "parameters": {
        "workflowId": "14"
      },
      "id": "381ed436-c232-4667-b9d1-5860a93b3549",
      "name": "GenerateZoomLinks",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1880,
        1620
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "callerPolicy": "any",
    "executionTimeout": 600
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2022-10-15T10:23:21.960Z",
      "updatedAt": "2022-10-15T10:23:21.960Z",
      "id": "1",
      "name": "eaasyapp"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-03-29T13:17:09.640Z",
  "versionId": "bd70a333-9765-4436-a9e1-54253422ac54"
}