workflows/get_projects_reports_4template.json
{
  "active": true,
  "connections": {
    "init_vars": {
      "main": [
        [
          {
            "node": "get_user_project_with_meetings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_user_project_with_meetings": {
      "main": [
        [
          {
            "node": "get_user_project_with_meetings1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "reformat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_projects_reports": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "reformat": {
      "main": [
        [
          {
            "node": "APITemplate.io",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "update_project_pdf_report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "APITemplate.io": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_user_project_with_meetings1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_project_pdf_report": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-07T17:22:17.957Z",
  "id": "108",
  "name": "get_projects_reports_4template",
  "nodes": [
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "77e6f60d-0af1-48f5-acaf-aa679c1eb26d",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1080,
        460
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/projects?id=eq.{{ $json.body.project_id }}&select=*,meetings(*,reports(*)) ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "d74a6a0a-9caf-47be-805c-01ed3d80e18d",
      "name": "get_user_project_with_meetings",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1240,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.get_user_project_with_meetings.json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "08ee5dd6-c0f5-4563-ac42-883c2c41b6bc",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1560,
        460
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"error\":{{ $json[\"error\"] ? $JSON.stringify($json.error) : \"null\"}}}",
        "options": {}
      },
      "id": "ceeb24d6-7692-405e-9136-d67d67b4b5ac",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        540
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "project/all_reports4template",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "87dc00d7-bda1-491b-be53-03cdbea544fb",
      "name": "get_projects_reports",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        920,
        460
      ],
      "webhookId": "044e07c0-4152-45b2-82c3-6b9896ac5f93",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var meeting_ds = {};\nvar meeting_fs = {};\nvar meetings = [];\n\nfor (const meeting of $input.first().json.meetings) {\n  //  item.json.myNewField = 1;\n  if(meeting?.reports[0].report_data==null)\n    continue;\n  var report = meeting?.reports[0]?.report_data[0];\n  if (!!report?.date) report.date = (new Date(report.date)).toLocaleString();\n  var meeting_type = (\"\"+report?.type_meeting).substr(0,2);\n  if (meeting_type==\"ТС\") meetings.push(report);\n  else if (meeting_type==\"ДС\") meeting_ds = report;\n  else if (meeting_type==\"ФС\") meeting_fs = report;\n}\n\nmeetings.sort(function(obj1,obj2){\n  if(obj1.type_meeting > obj2.type_meeting) return 1;\n  else if(obj1.type_meeting < obj2.type_meeting) return -1;\n  return 0;\n})\n\nvar out = {json:{\n  parameters:{\n    \"ap_name\": \"АП поддержки студенческих инициатив ТОГУ\",\n    \"project_name\": $input.first().json.name,\n    \"tracker_username\": $input.first().json.firstname + '' + $input.first().json.lastname,\n    \"meeting_ds\": meeting_ds,\n    \"meeting_fs\": meeting_fs,\n    \"meetings\": meetings\n  }\n}};\n\nreturn out;"
      },
      "id": "32221bb9-3d21-482f-8886-21e927e672a9",
      "name": "reformat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1760,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify( {download_url:$node[\"APITemplate.io\"].json.download_url  ? $node[\"APITemplate.io\"].json.download_url : \"error\"})}}",
        "options": {}
      },
      "id": "c5d6540d-dbce-40a9-bec4-1651f9bae7a9",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$node[\"APITemplate.io\"].json.download_url }}",
              "value2": true
            }
          ]
        }
      },
      "id": "f464934f-4071-4801-a5c8-3c561707f487",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2140,
        380
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\": \"there was a problem with PDF generation!\"}",
        "options": {}
      },
      "id": "b5143d0c-3d63-4359-8388-c7fe077b5ff9",
      "name": "Respond to Webhook3",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2660,
        540
      ]
    },
    {
      "parameters": {
        "resource": "pdf",
        "pdfTemplateId": "=77b77b2382ae459c",
        "jsonParameters": true,
        "propertiesJson": "={{ $json.parameters }}"
      },
      "id": "4e33145e-a54b-4b92-bce8-8d8080511089",
      "name": "APITemplate.io",
      "type": "n8n-nodes-base.apiTemplateIo",
      "typeVersion": 1,
      "position": [
        1980,
        380
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "apiTemplateIoApi": {
          "id": "22",
          "name": "APITemplate.io_wowbuckwheat"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "var template_id = \"e2077b238df3f8ce\"; // ООО\n\n//if ($('Webhook').first().json.body.type === 'ООО')\nif ($('Webhook').first().json.body.type === 'СЗ') template_id = \"17d77b238df4c6a0\"\nelse if ($('Webhook').first().json.body.type === 'ИП') template_id = \"fbc77b238d9d6ea8\"\n\n//console.log(\"$input.first().json:\", $input.first().json);\n\n$input.first().json.template_id = template_id;\n\nvar curDate = new Date();\n\nvar contract = {\n  \"type\":\"ФСИ\",\n  \"year\": curDate.getFullYear(),\n  \"series\":\"T\",\n  \"number\": $input.first().json.contractId,\n  \"date\": curDate.toISOString().split(\"T\")[0]\n};\n\nvar customer = {\n  \"name\":\"Татьяна Иванова\",\n  \"phone\":\" +7 (903) 796-99-58\",\n  \"email\":\"tk@2t.band / t-as@inbox.ru\",\n  \"telegram\":\"@Tatyana_Khrapko\"\n};\n\n$input.first().json.parameters = $('Webhook').first().json.body.params;\n$input.first().json.parameters.customer = customer;\n$input.first().json.parameters.contract = contract;\n\nreturn $input.all();"
      },
      "id": "bc451856-4dde-4c94-8a79-5f049e8ad519",
      "name": "set_params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1940,
        220
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/user_profiles?user_id=eq.{{ $json.meetings[0].user_id }}&select=user_id,firstname,lastname",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "b8d07953-3850-4de7-84ba-ca795f64833d",
      "name": "get_user_project_with_meetings1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        220
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "89e2422c-a892-4177-9215-9d6e64c96fca",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1420,
        480
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/projects?select=*&id=eq.{{ $node.get_projects_reports.json.body.project_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_report_url",
              "value": "={{ $node[\"APITemplate.io\"].json.download_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ef3b176b-106e-4a48-a096-b3ad5c62b75a",
      "name": "update_project_pdf_report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2420,
        360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "get_projects_reports": [
      {
        "json": {
          "headers": {
            "host": "n8n.stage.2t.band",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "5.159.102.176",
            "x-real-ip": "5.159.102.176",
            "connection": "close",
            "content-length": "53",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.1",
            "accept": "*/*",
            "auth": "d23Y_Vfds8_9sdf",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "project_id": "79aa159a-69b6-47d0-8957-dd996e91b0f3"
          }
        }
      }
    ]
  },
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-14T06:17:00.142Z",
  "versionId": "3963e17c-162d-4128-ab42-5511db587c42"
}