workflows/My workflow 2.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Zoom Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom Auth": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-30T13:15:17.900Z",
  "id": "107",
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "b4db28b3-cc96-41c2-9084-5e3b0514539a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/meetings?status=eq.5&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "d464dedc-9de0-4c39-bc1e-73b85a488a66",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1060,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "10",
          "name": "Supabase stage"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "e52db572-0552-4b6a-816c-2217ae3a0eb6",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.endDate }}",
              "value2": "={{ DateTime.now() }}"
            }
          ]
        }
      },
      "id": "dcaf202c-6de6-4c74-9330-64f99a6d4b47",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.start_time }}",
        "duration": 75,
        "timeUnit": "minutes",
        "dataPropertyName": "endDate",
        "options": {}
      },
      "id": "0f5de6f7-e19c-401b-a7c8-2f6585157d17",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $node[\"Zoom Auth\"].json.ZoomBaseUrl }}meetings/{{ $node[\"HTTP Request\"].json.meeting_zoom_id }}/status ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $node[\"Zoom Auth\"].json[\"ZoomAuth\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "end"
            }
          ]
        },
        "options": {}
      },
      "id": "f66ad8fb-dcba-4de3-9fbd-f9716cefa151",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1960,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "9"
      },
      "id": "cb9ff35b-5da8-4370-b6ed-55ec148f156f",
      "name": "Zoom Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1720,
        200
      ]
    },
    {
      "parameters": {
        "content": "foreach\n"
      },
      "id": "222c8e87-905f-490a-a532-e115973a0d19",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1240,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-30T13:16:05.590Z",
  "versionId": "fb94764e-49a3-494a-9f03-e827f34b0cc6"
}