workflows/receive video summary.json
{
  "active": true,
  "connections": {
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "update_report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-06-13T07:51:30.963Z",
  "id": "113",
  "name": "receive video summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "handle_method",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "39cc85ae-a64d-4c44-a21b-5880b6d92d73",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "webhookId": "21c125bf-e425-4855-a4a9-e6a42b612258"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/reports?select=*&summary_task_id=eq.{{ $node.Webhook.json.body.task_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "meeting_summary_report",
              "value": "={{ $node.Webhook.json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "eb4b1993-13e2-44b3-b852-e9b6ffa6d77e",
      "name": "update_report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1180,
        440
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "845644bb-2f09-4477-b633-f314300adb3a",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        660,
        460
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node.Webhook.json.body.status }}",
              "value2": "={{200}}"
            }
          ]
        }
      },
      "id": "472fc5a4-c6af-4daa-b312-625e922d9de4",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        840,
        460
      ]
    },
    {
      "parameters": {
        "errorMessage": "aaa"
      },
      "id": "29438f6e-47b1-4915-8cd8-462ca002cb42",
      "name": "Stop and Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1220,
        640
      ]
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n.stage.2t.band",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "164.92.221.173",
            "x-real-ip": "164.92.221.173",
            "connection": "close",
            "content-length": "5066",
            "user-agent": "python-requests/2.31.0",
            "accept-encoding": "gzip, deflate",
            "accept": "*/*",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "status": 200,
            "task_id": "6813d840-7646-41e8-afb7-df1482c4c50b",
            "content": "Вот 10 пунктов саммари беседы на русском языке:\n\n1. Определить, какие критерии важны для клиентов и сделать проект лучше конкурентов по этим критериям. \n2. Изучить конкурентов и их предложения. Посмотреть, какие они используют аргументы в рекламе.\n3. В оффере указать проблему клиента и ценность, которую он получит. Ценности должны быть конкретными, но не круглыми числами. \n4. Стейкхолдеры - Министерство образования, вузы. Они могут инвестировать в проект. \n5. Бизнес-модель - платежи от родителей, подписки от вузов. Вузы хотят привлекать мотивированных студентов и платных студентов.\n6. Технологические риски - используемые технологии могут не работать. Нужно проверять их.\n7. Текущие результаты - проведение интервью, разработка MVP, пилот, продажи. \n8. Нужны инвестиции. Можно рассчитать MVP, чтобы проверить идею. \n9. Планы развития - в 2022 году разработать MVP, продукт, вывод на рынок.\n10. Презентация - максимум 1/3 текста, 1/3 картинки, оставшееся - \"воздух\". Нужно подготовить текст выступления. Время - 3 минуты."
          }
        }
      }
    ]
  },
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-19T16:16:12.994Z",
  "versionId": "51ead188-1d6a-445e-b45e-ef3870498062"
}