workflows/supabase_update_report.json
{
  "active": true,
  "connections": {
    "save_report": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "update_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_report": {
      "main": [
        [
          {
            "node": "update_meeting_reported_time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_meeting_reported_time": {
      "main": [
        [
          {
            "node": "update_meeting_reported_time1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_team_id": {
      "main": [
        [
          {
            "node": "get_tl_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_tl_id": {
      "main": [
        [
          {
            "node": "add_tl_notif_new_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update_meeting_reported_time1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          },
          {
            "node": "add_tl_notif_new_report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Execute Workflow1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-18T07:07:21.842Z",
  "id": "80",
  "name": "supabase_update_report",
  "nodes": [
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{JSON.stringify(\n{res:$json ?  $node.update_report.json.report_data  : \"error\"})}} ",
        "options": {}
      },
      "id": "21967c74-b184-4a10-a9a9-692097369556",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1740,
        300
      ]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "/meetings/update_report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "426216c7-3683-4f53-b646-07348919f711",
      "name": "save_report",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -40,
        300
      ],
      "webhookId": "0bbada9c-5ec0-4d4c-bfa7-d1f58d96f53f",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "23fefcad-92fc-40a8-8fae-fed70327c7bb",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        120,
        300
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/reports?select=*&id=eq.{{ $json.body.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "report_data",
              "value": "={{ $json.body.report_data }}"
            },
            {
              "name": "tl_feedback",
              "value": "={{ $json.body.teamlead_feedback }}"
            },
            {
              "name": "is_accepted",
              "value": "={{ $json.body.is_accepted }}"
            }
          ]
        },
        "options": {}
      },
      "id": "061c2fc1-0ecc-449b-b59d-b919a27c50d5",
      "name": "update_report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        320,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/meetings?id=eq.{{ $json.meeting_id }}&select=*,meetings_type(*)",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "reported",
              "value": "={{ $now }}"
            }
          ]
        },
        "options": {}
      },
      "id": "28e3bfd0-a0ba-4e5e-be79-a74098dbb8f8",
      "name": "update_meeting_reported_time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        500,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "c571544e-083b-4884-a02d-f3f7f9c7eb2c"
            },
            {
              "name": "text",
              "value": "=Внесены данные отчета.\tВам нужно проверить новый отчет о проведенной сессии {{ $node.update_meeting_reported_time.json.name }} {{ $node.update_meeting_reported_time.json.meetings_type.name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f618eb48-cff3-425f-981f-ecf82de2507f",
      "name": "add_tl_notif_new_report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/user_profiles?select=team_id&user_id=eq.{{ $json.user_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "f279f133-bed7-4ea7-9b5d-0d82fce3d730",
      "name": "get_team_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/user_profiles?select=user_id&role_id=eq.2&team_id=eq.{{ $json.team_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "11008728-0a98-4067-b6ce-3f3943372fd2",
      "name": "get_tl_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1560,
        420
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $node[\"Execute Workflow\"].json.supaBaseURL }}rest/v1/meetings?id=eq.{{ $node.update_report.json.meeting_id }}&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "06d57f6e-87ab-4e32-a98f-28bb2752377e",
      "name": "update_meeting_reported_time1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        720,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "content": "TEAMLEAD hardcoded\nc571544e-083b-4884-a02d-f3f7f9c7eb2c\n25.05.2023\n"
      },
      "id": "4a561b34-0815-49f3-8cb5-99cbb3ce87fd",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        900,
        20
      ]
    },
    {
      "parameters": {
        "workflowId": "111"
      },
      "id": "7a8572af-ce81-4d56-9c1e-92bb88527b79",
      "name": "Execute Workflow1",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        760,
        -60
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "project_id",
              "value": "={{ $json.project_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14f97fe4-ccc0-46e7-9777-c1fc7d804ab0",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        620,
        140
      ]
    }
  ],
  "pinData": {
    "save_report": [
      {
        "json": {
          "headers": {
            "host": "n8n.stage.2t.band",
            "x-forwarded-scheme": "https",
            "x-forwarded-proto": "https",
            "x-forwarded-for": "5.159.102.176",
            "x-real-ip": "5.159.102.176",
            "connection": "close",
            "content-length": "824",
            "accept-encoding": "gzip",
            "user-agent": "ReactorNetty/1.1.1",
            "accept": "*/*",
            "auth": "d23Y_Vfds8_9sdf",
            "content-type": "application/json"
          },
          "params": {},
          "query": {},
          "body": {
            "is_accepted": null,
            "report_data": [
              {
                "date": "2023-05-23T17:27:16.622+00:00",
                "margin": null,
                "notes": null,
                "made": null,
                "main_product": "Программа (идея) для реализации мер по увеличению безопасности дорожного движения на ж/д переездах",
                "target_audience": "РЖД, муниципальные органы власти, автомобилисты",
                "avg_bill": null,
                "staff": 5,
                "requests": null,
                "planned": null,
                "order_qty": null,
                "agenda": null,
                "resale_rate": null,
                "target": "",
                "inclusion": null,
                "revenue": null,
                "project_time": "",
                "bottleneck": "формулирование проблематики ЦА",
                "type_meeting": "ДС",
                "market_volume": "пока не считали",
                "convertion": null
              }
            ],
            "id": "08fca64f-8b11-4bd8-a682-b8063ac01e91",
            "teamlead_feedback": null
          }
        }
      }
    ]
  },
  "settings": {
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-27T18:40:13.285Z",
      "updatedAt": "2023-04-27T18:40:13.285Z",
      "id": "3",
      "name": "notif"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-06-12T13:39:02.465Z",
  "versionId": "2838a6d2-aa63-4971-8cbb-60d3fcc3623c"
}