workflows/supabase_user_password_reset_.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "SUPA_auth_recover",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPA_auth_recover": {
      "main": [
        [
          {
            "node": "form_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "form_response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-24T10:10:41.693Z",
  "id": "33",
  "name": "supabase_user_password_reset_",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "user/password_reset",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e249baf2-b93b-4d7a-8754-3cefd77f600d",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -280,
        220
      ],
      "webhookId": "20680be7-5f90-4b99-b363-5cf2f09f1357",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.res ? $json : { error:$json?.error})}}",
        "options": {}
      },
      "id": "d1068c23-5c44-44d5-978f-a9ab4ee4f556",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        520,
        220
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "1831bb94-15f4-4a27-aeb7-e0548d886c68",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -100,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supaBaseURL }}auth/v1/recover",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $node.Webhook.json.body.email }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8584f760-fe48-4fd1-ab7d-e3e0002cde8b",
      "name": "SUPA_auth_recover",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        220
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "var out = {json:{res:\"ok\"}};\nvar inp = $input.all();\nconsole.log(\"$input.all():\", inp);\n\ntry {\n  var inpStr = JSON.stringify(inp);\n  console.log(\"inpStr|\"+inpStr+\"|\");\n} catch (error) {\n  console.log(\"parse error:\", error);\n  return {json:{error:$input.all()}}\n}\n\nif (inpStr.indexOf('[{\"json\":{},')==0) return out\nelse return {json:{error:$input.all()[0]?.json?.error}}\n\nreturn out"
      },
      "id": "901a780c-5f76-4742-8e0a-6e9a9be768ff",
      "name": "form_response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        320,
        220
      ]
    }
  ],
  "pinData": {
    "SUPA_auth_recover": [
      {
        "json": {}
      }
    ]
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "102"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-11T16:48:02.602Z",
  "versionId": "45e5e9cf-a191-425c-b5af-c3255eb12075"
}