workflows/supabase_user_logout_.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "SUPA_auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPA_auth": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-05T12:16:43.250Z",
  "id": "54",
  "name": "supabase_user_logout_",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "user/logout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23155d4f-7556-4ecc-bf80-f8ee4c6bcb4a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -280,
        220
      ],
      "webhookId": "52770d93-f4d4-4971-a87d-8f4a57481a39",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify($json)\n}}",
        "options": {}
      },
      "id": "19f6e244-4d68-4fc5-a51d-ec176134f8ad",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        360,
        220
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "d72278ed-a64a-4e0a-a6ae-4e0e886b9fb0",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -100,
        220
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supaBaseURL }}auth/v1/logout",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "apikey",
              "value": "={{ $json.supaBasePublicKey }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $node.Webhook.json.headers[\"user-access-token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b7fe0a4c-ca35-4226-9921-2af340068bec",
      "name": "SUPA_auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        120,
        220
      ],
      "continueOnFail": true
    }
  ],
  "pinData": {},
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "saveDataSuccessExecution": "all",
    "errorWorkflow": "102"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-11T16:52:57.794Z",
  "versionId": "f25d4e59-ab71-4ff2-b13e-f88b3d342a15"
}