workflows/Test EAP API _y.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-15T12:59:37.367Z",
  "id": "20",
  "name": "Test EAP API _y",
  "nodes": [
    {
      "parameters": {},
      "id": "d9f57d8a-d91b-4c65-b269-2ae58adabff8",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"HOSTNAME\"] }}/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "sort",
              "value": "-id"
            }
          ]
        },
        "options": {}
      },
      "id": "0b104b79-b6ad-4207-80e1-6b496906b569",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        240
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "HOSTNAME",
              "value": "http://calend.dev.2t.band:8081/index.php/api/v1"
            }
          ]
        },
        "options": {}
      },
      "id": "07067416-81d5-47f5-bd69-af032fed1377",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        420,
        240
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.HOSTNAME }}/appointments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "id": "a46ebe05-276a-4199-8ed7-7a9bd6fced2f",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        420
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByFields",
        "options": {}
      },
      "id": "6e35bc9c-d0f9-4390-8bbd-3a33c9f05301",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        920,
        300
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json[\"HOSTNAME\"] }}/customers",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"firstName\": \"Bla\", \n    \"lastName\": \"BlaBla\", \n    \"email\": \"bla23@bla.com\", \n    \"phone\": \"0123456789\",\n    \"address\": \"Some Str. 123\", \n    \"city\": \"Some City\", \n    \"zip\": \"12345\", \n    \"notes\": \"Test customer notes.\"\n}",
        "options": {}
      },
      "id": "f02ed6af-9313-4b4d-80a3-d783cdebfed0",
      "name": "Add Client",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        660,
        40
      ],
      "credentials": {
        "httpBasicAuth": {
          "id": "1",
          "name": "EAP admin"
        }
      },
      "disabled": true
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-15T13:13:59.750Z",
  "versionId": "1caef22c-17c5-4a11-ab37-c52829217f65"
}