workflows/tl_notif_yesterday_meeting_not_reported.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Filter_meeting_yesterday_not_reported_notTM",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter_meeting_yesterday_canceled_not_rebooked_notTM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "get_team_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_meeting_yesterday_not_reported_notTM": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_team_id": {
      "main": [
        [
          {
            "node": "get_tl_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_tl_id": {
      "main": [
        [
          {
            "node": "tl_notif_not_reported",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches1": {
      "main": [
        [
          {
            "node": "get_team_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_team_id1": {
      "main": [
        [
          {
            "node": "get_tl_id1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_tl_id1": {
      "main": [
        [
          {
            "node": "add_notif_meeting_canceled_not_happened_yet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tl_notif_not_reported": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add_notif_meeting_canceled_not_happened_yet": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter_meeting_yesterday_canceled_not_rebooked_notTM": {
      "main": [
        [
          {
            "node": "Split In Batches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-27T19:24:47.002Z",
  "id": "97",
  "name": "tl_notif_yesterday_meeting_not_reported",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "f741a751-e196-429a-b11f-4a9751b086f2",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/meetings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "select",
              "value": "name,reported,booked,status,start_time,projects(*),user_id,meeting_eap_id,meeting_zoom_id,booking_link,join_link,type(*)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "options": {}
      },
      "id": "08085b22-9503-4fb3-af35-175519792b17",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1040,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.user_id }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7cb17670-e935-4d2f-b7d9-6e6b334dc505",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "204e5166-e24e-4281-802a-62a000e2b8a3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1860,
        140
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "33876f9a-f932-470e-a1b6-1c70fb01c136",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.start_time.split('T')[0] }}",
              "value2": "={{$today.minus({days: 1}).toString().split('T')[0]}}"
            },
            {
              "value1": "={{ $json.reported }}",
              "operation": "isNotEmpty"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.type.id }}",
              "operation": "notEqual",
              "value2": 6
            }
          ]
        }
      },
      "id": "1e730f1f-734b-495e-b8af-0342b25777dd",
      "name": "Filter_meeting_yesterday_not_reported_notTM",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1620,
        140
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/user_profiles?select=team_id&user_id=eq.{{ $json.user_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "69b5c40d-cb5d-490c-95af-9b9a78784c87",
      "name": "get_team_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        40
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/user_profiles?select=user_id&role_id=eq.2&team_id=eq.{{ $json.team_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "aeb0adf4-451e-42ed-9437-f2d3f13f8fbb",
      "name": "get_tl_id",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2180,
        40
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "31bd3aa9-3b94-476f-94ff-edd93587fa2a",
      "name": "Split In Batches1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1820,
        420
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/user_profiles?select=team_id&user_id=eq.{{ $json.user_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "6d6ab1f7-3bb7-4745-941a-8a368c10fbba",
      "name": "get_team_id1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2000,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/user_profiles?select=user_id&role_id=eq.2&team_id=eq.{{ $json.team_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "7e0ee4dc-f7d3-49ca-a736-fc1a68f79a85",
      "name": "get_tl_id1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2180,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "text",
              "value": "=Внимание! Трекер не собрал отчет о проведенной сессии {{ $node[\"Split In Batches\"].json.name }} вовремя. "
            }
          ]
        },
        "options": {}
      },
      "id": "6ff96533-8701-4fab-895b-11d8754a4ba3",
      "name": "tl_notif_not_reported",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2340,
        120
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/notifications",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "user_id",
              "value": "={{ $json.user_id }}"
            },
            {
              "name": "text",
              "value": "=Внимание! Трекер отменил назначенную встречу {{ $node[\"Split In Batches\"].json.name }} и не забронировал новую "
            }
          ]
        },
        "options": {}
      },
      "id": "3373bf9e-7c88-46e0-8b00-7ad98f8c0242",
      "name": "add_notif_meeting_canceled_not_happened_yet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2340,
        400
      ],
      "credentials": {
        "supabaseApi": {
          "id": "7",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.type.meeting_deadline.split('T')[0] }}",
              "value2": "={{$today.toString().split('T')[0]}}"
            }
          ],
          "number": [
            {
              "value1": "={{ $json.type.id }}",
              "operation": "notEqual",
              "value2": 6
            },
            {
              "value1": "={{ $json.status }}",
              "operation": "equal",
              "value2": 3
            }
          ]
        }
      },
      "id": "320aa332-bde2-446d-ab03-4b7bc5e34e62",
      "name": "Filter_meeting_yesterday_canceled_not_rebooked_notTM",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        1560,
        420
      ]
    },
    {
      "parameters": {
        "content": "навеное это стоит перенести в дейли воркер"
      },
      "id": "6f5cbc66-6f29-4721-8093-2ced7e2a4e94",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1480,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2023-04-27T18:40:13.285Z",
      "updatedAt": "2023-04-27T18:40:13.285Z",
      "id": "3",
      "name": "notif"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2023-05-10T08:26:11.936Z",
  "versionId": "52090fe0-66bd-4cb6-ac0a-6f8aa745a521"
}