workflows/upload_user_photo_s3_supabase.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "success_response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-03T12:19:02.685Z",
  "id": "47",
  "name": "upload_user_photo_s3_supabase",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "upload/photo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9123c95f-06dd-4021-a923-43d75ee5da4c",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        700,
        300
      ],
      "webhookId": "99392bc3-d777-48c7-8f55-76a08c707c76",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "6"
      },
      "id": "68ab4b57-c706-4dfd-ad9e-1f6f0ec27005",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        920,
        300
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $node[\"Execute Workflow\"].json.storage_url }}/2T.Drive/{{ $node.Webhook.json.body.file_name }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Auth-Token",
              "value": "={{ $json.storage_token }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "binary",
              "value": "={{ $node.Webhook.json.body.image_bin }}"
            }
          ]
        },
        "options": {}
      },
      "id": "80ea42e4-71f5-4639-804c-e4b649b3a7a6",
      "name": "HTTP Request2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "user_profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $node.Webhook.json.body.user_profile_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_photo",
              "fieldValue": "={{ $('Execute Workflow').first().json.storage_url }}/2T.Drive/{{ $node.Webhook.json.body.file_name }}"
            }
          ]
        }
      },
      "id": "e06574fa-2f83-49b2-82b4-4ca350102b86",
      "name": "Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1420,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "10",
          "name": "Supabase stage"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "2e5c1ce4-12aa-436e-b387-1233e1d60f06",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1640,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"res\":\"true\"}",
        "options": {}
      },
      "id": "30b1678f-7277-4d14-8ac0-ac7842290371",
      "name": "success_response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1920,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"error\":\"error during file upload\"}",
        "options": {}
      },
      "id": "2c0785d7-57e0-4123-932f-72aaf137fe7f",
      "name": "error response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1940,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-11T16:52:33.330Z",
  "versionId": "bbde7ecf-543d-406e-856b-5ee54aad23bc"
}