workflows/user_stats.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "format_response": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF_error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "format_response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPA_rpc_stats": {
      "main": [
        [
          {
            "node": "IF_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPA_rpc_stats_teamlead": {
      "main": [
        [
          {
            "node": "IF_error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "SUPA_rpc_stats",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SUPA_rpc_stats_teamlead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-16T14:58:26.484Z",
  "id": "74",
  "name": "user_stats",
  "nodes": [
    {
      "parameters": {
        "authentication": "headerAuth",
        "httpMethod": "POST",
        "path": "user/stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "3b112d3b-8cd0-48d6-b768-942cf3aa5786",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -460,
        360
      ],
      "webhookId": "685ade3e-399b-4088-83a8-e10288e594d3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "9",
          "name": "appsmith->n8n Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{\nJSON.stringify({\n\"error\": $json })\n}}",
        "options": {}
      },
      "id": "7e57f4e1-ff60-4eb3-b331-c8f18f8afcfa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        460,
        280
      ]
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "ea46a2c0-cfeb-4171-9f0b-b9eeffa042ed",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -300,
        360
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "res.total_meetings",
              "value": "={{ $json.total_meetings ?? '' }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "85a95341-4fc0-48ab-b1e3-5a516bb6b1c4",
      "name": "format_response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        460,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\"res\":$json})}}",
        "options": {}
      },
      "id": "8a303120-f7af-4b49-a3b9-1d5cdda85af4",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        480
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.message }}",
              "value2": true
            }
          ]
        }
      },
      "id": "7af8f293-c069-49fd-8f5a-7ed66fdcdefa",
      "name": "IF_error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        240,
        360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supaBaseURL }}rest/v1/rpc/get_user_stats",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supaBasePublicKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $node.Webhook.json.body.user_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "81240e1c-49f9-44b9-99e2-568b191994c6",
      "name": "SUPA_rpc_stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        40,
        220
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.supaBaseURL }}rest/v1/rpc/get_user_stats_teamlead",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.supaBasePublicKey }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "p_user_id",
              "value": "={{ $node.Webhook.json.body.user_id }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d81961ac-9715-42f6-8f04-992f6b628cee",
      "name": "SUPA_rpc_stats_teamlead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        40,
        420
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node.Webhook.json.body.type }}",
        "rules": {
          "rules": [
            {
              "value2": "teamlead",
              "output": 1
            }
          ]
        },
        "fallbackOutput": 0
      },
      "id": "04b09488-2b7a-4a03-8775-113409edb22c",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        -160,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-05-11T16:56:24.608Z",
  "versionId": "7f99d61a-63b3-44db-9c2a-b507f941b343"
}