workflows/Zoom Webhooks.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "StartedMeeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "EndedMeeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "FilesToProcess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "StartedMeeting": {
      "main": [
        [
          {
            "node": "MeetingStatusRunning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EndedMeeting": {
      "main": [
        [
          {
            "node": "MeetingStatusFinish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mkdir": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "CreateScreencast",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LoopOverFrames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopOverFrames": {
      "main": [
        [
          {
            "node": "ExtractFrame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ExtractFrame": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "curl": {
      "main": [
        [
          {
            "node": "FileDuration2",
            "type": "main",
            "index": 0
          },
          {
            "node": "FileDuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilesToProcess": {
      "main": [
        [
          {
            "node": "GetMeeting1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateScreencast": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "UploadScreenCast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMeeting1": {
      "main": [
        [
          {
            "node": "GetTracker",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "SetPrepare",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetTracker": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "SetPrepare": {
      "main": [
        [
          {
            "node": "FullRecordData1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullRecordData": {
      "main": [
        [
          {
            "node": "curl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadScreenCast": {
      "main": [
        [
          {
            "node": "Set2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FullRecordData1": {
      "main": [
        [
          {
            "node": "mkdir",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "FullRecordData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileDuration2": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FileDuration": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "LoopOverFrames",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set2": {
      "main": [
        [
          {
            "node": "Set3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set3": {
      "main": [
        [
          {
            "node": "AttachRecordingURLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-06T12:22:36.366Z",
  "id": "11",
  "name": "Zoom Webhooks",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a3d59636-37e0-4522-b136-c6bbfc2dea90",
        "responseMode": "lastNode",
        "responseData": "noData",
        "options": {}
      },
      "id": "cbbc05f1-9827-4347-8dcb-0d7502fd745f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        980,
        500
      ],
      "webhookId": "a3d59636-37e0-4522-b136-c6bbfc2dea90"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json[\"body\"][\"event\"] }}",
        "rules": {
          "rules": [
            {
              "value2": "meeting.started"
            },
            {
              "value2": "meeting.ended",
              "output": 1
            },
            {
              "value2": "recording.completed",
              "output": 2
            }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "1f4d5191-2f32-4cc2-b322-0f3eea6f6252",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [
        1160,
        500
      ]
    },
    {
      "parameters": {
        "content": "### Zoom meeting started",
        "height": 219,
        "width": 469.5040876368443
      },
      "id": "c252c136-13ba-422a-b414-a023b4295dfc",
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        120
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "id": "={{ $json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingStatus",
              "fieldValue": "Running"
            }
          ]
        }
      },
      "id": "df5951ba-2405-4b7e-af66-52782018320f",
      "name": "MeetingStatusRunning",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1720,
        180
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "returnAll": true,
        "options": {
          "where": "=(MeetingZoomID,eq,{{ $json[\"body\"][\"payload\"][\"object\"][\"id\"] }})"
        }
      },
      "id": "cfab7254-f05f-417c-91f2-f271ea747555",
      "name": "StartedMeeting",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1520,
        180
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Zoom meeting ended",
        "height": 219,
        "width": 472.40490516421323
      },
      "id": "5c846c3d-d5a1-4b36-8b3e-392b8b409b78",
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1460,
        380
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "returnAll": true,
        "options": {
          "where": "=(MeetingZoomID,eq,{{ $json[\"body\"][\"payload\"][\"object\"][\"id\"] }})"
        }
      },
      "id": "e9dcbc07-3194-404a-9f50-962c43c23835",
      "name": "EndedMeeting",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1520,
        440
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "id": "={{ $json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingStatus",
              "fieldValue": "Finished"
            }
          ]
        }
      },
      "id": "ee40ce8c-417c-4e4a-90c1-9f54afb5e16f",
      "name": "MeetingStatusFinish",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1720,
        440
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Meeting recording is ready",
        "height": 675.6752781838226,
        "width": 2518.881055570464
      },
      "id": "da326f31-ad06-4d29-b430-688a5f377d63",
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1142.527230842843,
        660
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=mkdir -p '{{ $json[\"S3Folder\"] }}{{ $json[\"ProjectFolder\"] }}/{{ $json[\"MeetingFolder\"] }}' && cd '{{ $json[\"S3Folder\"] }}{{ $json[\"ProjectFolder\"] }}/{{ $json[\"MeetingFolder\"] }}' && rm -f *screencast.jpeg && find . -name \"*.{{$json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_type\"]}}\" | wc -l"
      },
      "id": "ecfa864d-7b85-4fb7-803c-3e8fa45a7844",
      "name": "mkdir",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2720,
        840
      ]
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=curl -L -o '{{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}' \\\n--url {{ $node[\"FullRecordData\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"download_url\"] }} \\\n--header 'authorization: Bearer {{ $node[\"FullRecordData\"].json[\"body\"][\"download_token\"] }}' \\\n--header 'content-type: application/json'"
      },
      "id": "c82eec19-f882-44c8-a3bd-25f7d3331866",
      "name": "curl",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3220,
        840
      ]
    },
    {
      "parameters": {
        "command": "=ffprobe -i '{{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}' -show_entries format=duration -v quiet -of csv=\"p=0\""
      },
      "id": "6e8204e6-78ea-4e80-a11c-fe9b16d4b604",
      "name": "FileDuration",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        1040
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "TotalDuration",
              "value": "={{$json[\"stdout\"].replaceAll('\\n',' ').split(' ').map(parseFloat)}}"
            }
          ]
        },
        "options": {}
      },
      "id": "27e637e3-c114-4af7-8777-4bb41ffa3c9d",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "var totaldur = $input.first().json[\"VideoDuration\"];\nvar fileinfo = $('FullRecordData').first().json;\nconsole.log(fileinfo);\n\nvar out=[];\nvar num = 0;\nfor (let i=0; i < totaldur; i += 60*1) {\n  var num_char = ('000' + num).slice(-4);\n  out.push({step:num_char,\n            ss:i,\n            command: `ffmpeg -ss ${i} -i '${fileinfo[\"S3Folder\"]}${fileinfo[\"ProjectFolder\"]}/${fileinfo[\"MeetingFolder\"]}/${fileinfo[\"FileName\"]}_${fileinfo[\"FileSuffix\"]}.${fileinfo[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"]}' -frames:v 1 -f image2 -map 0:v:0 '${fileinfo[\"S3Folder\"]}${fileinfo[\"ProjectFolder\"]}/${fileinfo[\"MeetingFolder\"]}/${fileinfo[\"FileName\"]}_${fileinfo[\"FileSuffix\"]}_${num_char}.jpeg'` });\n  num ++;\n}\n\nreturn out;"
      },
      "id": "c4c47e3c-4f59-4aa0-8d76-cb9425e851c7",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1680,
        1040
      ]
    },
    {
      "parameters": {
        "amount": 0.25,
        "unit": "seconds"
      },
      "id": "690d3708-4ac5-4776-8f87-ad85870786d3",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        2340,
        1060
      ],
      "webhookId": "27125996-05cb-4b28-a626-a8d1e88b7287"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node[\"LoopOverFrames\"].context[\"noItemsLeft\"]}}",
              "value2": true
            }
          ]
        }
      },
      "id": "a03ed4aa-b883-4356-b45b-2180e6baa4bc",
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2500,
        1060
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "4407ce88-d837-49ba-906a-9b8312c9cdb2",
      "name": "LoopOverFrames",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        2020,
        1060
      ]
    },
    {
      "parameters": {
        "command": "=gm montage -tile 5x -geometry 640x340+2+2 -title '{{ $node[\"FullRecordData\"].json[\"FileName\"] }} - {{parseFloat($node[\"Code1\"].json[\"TotalDuration\"]/60).toFixed(2)}} min' '{{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_*.jpeg' '{{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_screencast.jpeg'"
      },
      "id": "6a4edde0-9392-4e03-8dc0-1521689f252b",
      "name": "CreateScreencast",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2680,
        1060
      ]
    },
    {
      "parameters": {
        "command": "={{ $json[\"command\"] }}"
      },
      "id": "502f862e-a370-413d-b3db-458cc65c14f1",
      "name": "ExtractFrame",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2180,
        1060
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "84dd662d-4c72-4352-8b39-47daa058131e",
      "name": "FilesToProcess",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1520,
        700
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://nocodb.dev.2t.band/api/v1/db/storage/upload",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "nocoDbApiToken",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "path",
              "value": "=recording/{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_screencast.jpeg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "df8a4c06-9cfc-4403-b6a1-4b00453cc896",
      "name": "UploadScreenCast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        3040,
        1060
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "filePath": "={{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_screencast.jpeg"
      },
      "id": "7803f91c-3776-443d-9541-bfa8b0ed301e",
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        2860,
        1060
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "returnAll": true,
        "options": {
          "where": "=(MeetingZoomID,eq,{{ $node[\"FilesToProcess\"].json[\"body\"][\"payload\"][\"object\"][\"id\"] }})"
        }
      },
      "id": "abee5eb5-b466-4bd4-96b3-c1ce5eb7e17b",
      "name": "GetMeeting1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1680,
        780
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "8499e89b-d3d1-467c-ae6f-6640c9fdf8bc",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2260,
        720
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "getAll",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_qud1os3qde26n3",
        "returnAll": true,
        "options": {
          "fields": [
            "Id,TrackerName,TrackerSurname,TrackerEmail,ZoomUser"
          ],
          "where": "=(Id,eq,{{ $json[\"Trackers List\"][0][\"Id\"] }})"
        }
      },
      "id": "ef73fe72-4064-4e2c-8c13-bde5ffb27c79",
      "name": "GetTracker",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        1860,
        840
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {
          "clashHandling": {
            "values": {
              "resolveClash": "preferInput1"
            }
          }
        }
      },
      "id": "e55eaefd-cb0d-437e-bb7c-4e546a43398d",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2100,
        780
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "S3Folder",
              "value": "/home/s3fs/recording/"
            },
            {
              "name": "ProjectFolder",
              "value": "={{ ('00000'+$json[\"Projects List\"][0][\"Id\"]).slice(-6) }}"
            },
            {
              "name": "MeetingFolder",
              "value": "={{ $json[\"MeetingStartDateTime\"].split('T')[0].replaceAll('-','') }}-{{$json[\"MeetingStartDateTime\"].split('T')[1].split(':').slice(0,2).join('')}}"
            }
          ]
        },
        "options": {}
      },
      "id": "a0e84a2e-95d0-4893-8222-6ec819a6318b",
      "name": "SetPrepare",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2420,
        720
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "FileName",
              "value": "={{ $json[\"ProjectFolder\"] }}_{{ $json[\"TrackerSurname\"] }} {{ $json[\"TrackerName\"] }}_{{ $json[\"MeetingFolder\"] }}"
            },
            {
              "name": "FileSuffix",
              "value": "={{ $json[\"stdout\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1a8d40ea-d58d-4f0a-9406-cc7e671d5546",
      "name": "FullRecordData",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3040,
        840
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "id": "={{ $node[\"FullRecordData\"].json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingZoomScreencast",
              "fieldValue": "=[{{JSON.stringify($node[\"UploadScreenCast\"].json)}}]"
            },
            {
              "fieldName": "MeetingZoomFile",
              "fieldValue": "={{ JSON.stringify($json[\"TotalVideos\"]) }}"
            },
            {
              "fieldName": "NumOfRecordings",
              "fieldValue": "={{ $json[\"TotalVideos\"].length}}"
            }
          ]
        }
      },
      "id": "f09bf343-f249-42eb-8c25-88aef0ed7fc3",
      "name": "AttachRecordingURLs",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        3520,
        1060
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "FileName",
              "value": "={{ $json[\"ProjectFolder\"] }}_{{ $json[\"TrackerSurname\"] }} {{ $json[\"TrackerName\"] }}_{{ $json[\"MeetingFolder\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "465b0de3-addf-477c-9957-039efeb6875f",
      "name": "FullRecordData1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2560,
        720
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "id": "745549d6-d958-4931-bd59-f83b68a06821",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        2880,
        740
      ]
    },
    {
      "parameters": {
        "command": "=cd '{{ $node[\"FullRecordData\"].json[\"S3Folder\"] }}{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}' && find -maxdepth 1 -name '*MP4' -exec ffprobe -i {} -show_entries format=duration -v quiet -of csv=\"p=0\" \\;"
      },
      "id": "9d3a031c-fd06-4156-90e2-07c73a53c99f",
      "name": "FileDuration2",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1200,
        1180
      ]
    },
    {
      "parameters": {
        "jsCode": "let total = 0;\n\nfor (const item of $input.all()) {\n  total += item.json[\"TotalDuration\"]\n}\n\nreturn [{TotalDuration:total}]"
      },
      "id": "0ed8f8e9-f78f-415a-927b-22a4972fff6a",
      "name": "Code1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1680,
        1180
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "TotalDuration",
        "options": {}
      },
      "id": "7d8f1b48-7d4f-4816-9f66-f8f3b4db0cb5",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [
        1520,
        1180
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "VideoDuration",
              "value": "={{Math.floor($json[\"stdout\"])}}"
            }
          ]
        },
        "options": {}
      },
      "id": "64fcf023-8cd6-4371-9f6b-f024c5e1b520",
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        1360,
        1040
      ]
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "id": "bdbb33d5-d765-496d-9c36-09c11c4baabb",
      "name": "Merge3",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1840,
        1060
      ]
    },
    {
      "parameters": {
        "authentication": "nocoDbApiToken",
        "operation": "update",
        "projectId": "p_4jpbiqaicez9ds",
        "table": "md_67n7wa1n04h1n1",
        "id": "={{ $node[\"FullRecordData\"].json[\"Id\"] }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldName": "MeetingZoomScreencast",
              "fieldValue": "=[{{JSON.stringify($json)}}]"
            },
            {
              "fieldName": "MeetingZoomFile",
              "fieldValue": "={\"url\":\"https://my.selectel.ru/storage/object/2T.Drive?objectName=recording/{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"title\":\"{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"mimetype\":\"video/mp4\"}\n\n{{JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"]).concat({\"url\":\"https://my.selectel.ru/storage/object/2T.Drive?objectName=recording\"})}}\n\n{{JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"])}}\n\n{{JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"]).concat({\"url\":\"https://my.selectel.ru/storage/object/2T.Drive?objectName=recording/{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"title\":\"{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"mimetype\":\"video/mp4\"})}}\n\n{{JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"]).concat($json)}}\n\n{{JSON.stringify(JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"]).concat($json))}}"
            }
          ]
        }
      },
      "id": "e71f6417-9f3d-4ee0-8477-1d40a7a85acd",
      "name": "AttachRecordingURLs1",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 2,
      "position": [
        3220,
        1240
      ],
      "credentials": {
        "nocoDbApiToken": {
          "id": "2",
          "name": "NocoDB Token account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "NewVideo",
              "value": "={\"url\":\"https://my.selectel.ru/storage/object/2T.Drive?objectName=recording/{{ $node[\"FullRecordData\"].json[\"ProjectFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"MeetingFolder\"] }}/{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"title\":\"{{ $node[\"FullRecordData\"].json[\"FileName\"] }}_{{ $node[\"FullRecordData\"].json[\"FileSuffix\"] }}.{{ $node[\"Switch\"].json[\"body\"][\"payload\"][\"object\"][\"recording_files\"][0][\"file_extension\"] }}\",\"mimetype\":\"video/mp4\"}"
            }
          ]
        },
        "options": {}
      },
      "id": "5fbda9f4-1b9a-4f6d-baff-8d107191a416",
      "name": "Set2",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3200,
        1060
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "TotalVideos",
              "value": "={{($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"] == null ? [] : JSON.parse($node[\"GetMeeting1\"].json[\"MeetingZoomFile\"])).concat(JSON.parse($json[\"NewVideo\"]))}}"
            }
          ]
        },
        "options": {}
      },
      "id": "5cae8527-fc80-46d9-a0cd-b0a05f2c5a10",
      "name": "Set3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        3360,
        1060
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "callerPolicy": "any",
    "executionTimeout": 600
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2022-12-20T22:21:38.105Z",
  "versionId": "542cd8a1-4ece-4570-a81a-4ba420d51fa3"
}