workflows/Zoom kickout.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "init_vars",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "init_vars": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Zoom Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zoom Auth": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-05-30T13:15:17.900Z",
  "id": "107",
  "name": "Zoom kickout",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "b4db28b3-cc96-41c2-9084-5e3b0514539a",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "url": "={{ $node.init_vars.json.supaBaseURL }}rest/v1/meetings?status=eq.5&select=*",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {}
      },
      "id": "d464dedc-9de0-4c39-bc1e-73b85a488a66",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1020,
        300
      ],
      "credentials": {
        "supabaseApi": {
          "id": "10",
          "name": "Supabase stage"
        }
      }
    },
    {
      "parameters": {
        "workflowId": "22"
      },
      "id": "e52db572-0552-4b6a-816c-2217ae3a0eb6",
      "name": "init_vars",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.endDate }}",
              "operation": "before",
              "value2": "={{ DateTime.now() }}"
            }
          ]
        }
      },
      "id": "dcaf202c-6de6-4c74-9330-64f99a6d4b47",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1720,
        280
      ]
    },
    {
      "parameters": {
        "action": "calculate",
        "value": "={{ $json.start_time }}",
        "duration": 75,
        "timeUnit": "minutes",
        "dataPropertyName": "endDate",
        "options": {}
      },
      "id": "0f5de6f7-e19c-401b-a7c8-2f6585157d17",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 1,
      "position": [
        1500,
        280
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $node[\"Zoom Auth\"].json.ZoomBaseUrl }}meetings/{{ $node[\"HTTP Request\"].json.meeting_zoom_id }}/status ",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ $node[\"Zoom Auth\"].json[\"ZoomAuth\"] }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "action",
              "value": "end"
            }
          ]
        },
        "options": {}
      },
      "id": "f66ad8fb-dcba-4de3-9fbd-f9716cefa151",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        2180,
        240
      ]
    },
    {
      "parameters": {
        "workflowId": "9"
      },
      "id": "cb9ff35b-5da8-4370-b6ed-55ec148f156f",
      "name": "Zoom Auth",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1940,
        200
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "862f0364-09f5-49da-8a82-0894f4f5b379",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        1280,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "-938702100",
        "text": "=Ales gut in bagdad! \nВстреча {{ $node[\"HTTP Request\"].json.name }} была жестко остановлена на ручнике через 1.15 от начала слота {{ $node[\"HTTP Request\"].json.time_slot }}\n\nАйди встречи {{ $node[\"HTTP Request\"].json.id }}  ",
        "additionalFields": {}
      },
      "id": "2e0ab81a-b9a2-4416-bd61-43a839c1736a",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2400,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "18",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "102"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrencyRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-06-01T14:44:07.081Z",
  "versionId": "0de51662-948b-4da5-a534-124946f002fa"
}