workflows/Zoom Auth.json
{
  "active": false,
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2022-11-02T07:10:04.425Z",
  "id": "9",
  "name": "Zoom Auth",
  "nodes": [
    {
      "parameters": {},
      "id": "e1db64c4-398d-404e-b02b-42bfc82c27dc",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        200,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://zoom.us/oauth/token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "account_credentials"
            },
            {
              "name": "account_id",
              "value": "0kLVFu_pSxuiWCUZ_CyvKg"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Basic {{$json[\"base64_\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "c9183d50-c314-4c4d-b0e0-cae404715d22",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "let data = \"jX7ezI5yQxi8GlgjRh1_QQ:6126oIt0hwm4M5vjiq2B5OG9SM6pnDlp\";\nlet buff = new Buffer(data);\nlet base64data = buff.toString('base64');\n  \nreturn [{base64_:base64data}];"
      },
      "id": "4e5e2d71-4c03-4c81-9851-7afec31cfd2a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        360,
        240
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "ZoomBaseUrl",
              "value": "https://api.zoom.us/v2/"
            },
            {
              "name": "ZoomAuth",
              "value": "=Bearer {{ $json[\"access_token\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dfdcac63-7084-426c-83a7-0dba4b75c925",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        680,
        240
      ]
    },
    {
      "parameters": {
        "amount": 1.5,
        "unit": "seconds"
      },
      "id": "99d77081-d283-45f1-9c77-47afbb93898c",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        840,
        240
      ],
      "webhookId": "dabcae65-1541-4ea9-a789-5b178ba29c96"
    }
  ],
  "pinData": {},
  "settings": {
    "executionTimeout": 300
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-03-08T16:01:27.741Z",
  "versionId": "d12710ec-2b04-4ec6-88ee-203d6b58be99"
}